<h1> Thanks to all of you. </h1>
<p> Thanks for the opportunity on helping me towards a headstart, and hopefully a successfull carreer in computer science</p>

<p> This app was made using ruby on rails, using the one month rails website.</p>
<p> Contact information:</p>
<p> Fernando Osorto. osortof@yahoo.com</p>
